/* Write your CSS code here */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.image-container {
  display: flex;
  align-items: center;
}
.image {
  width: 35px;
  height: 35px;
  margin-right: 12px;
}
ul {
  list-style-type: none;
  display: flex;
}
.list-item {
  margin-right: 30px;
  text-decoration: none;
  color: black;
}
